
// ----------------------
// SUMO SALAD, USA
// ----------------------
// By: Daniel Choi
// Date: May 18, 2016


// Variables for dimensions
$img-height: 150px; // height and width of logo in nav bar
$img-width: $img-height*1.7;
$minWidth: 1000px;




// Colors
$bluePine: #324851;
$newGrass: #86ac41;
$reflection: #34675c;
$mist: #7da3a1;

// ---- Garden Fresh
$carrot: #ee693f;
$tangerine: #f69454;
$offwhite: #fcfdfe;
$pearGreen: #739f3d;

// ---- Fresh and Energetic
$blueSky: #4cb5f5;
$pine: #34675c;
$fields: #b3c100;




// Fonts
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

$sig: 'Sigmar One', cursive;

$oswald: 'Oswald', sans-serif;
$ptsans: 'PT Sans', sans-serif;


* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body{
	background-color: #c0c0c0;
}

// ----- Navigation Bar -------

.header {
  background-color: white;
  min-width: 1000px;
  position: relative;
  height: $img-height+20;
  width: 100%;
  z-index: 99;
  #logo {
	  padding: 10px;
	  margin-left: 10px;
	  img {
	    height: $img-height;
	    width: $img-width;
	    border-radius: 50%;
	  }
	}
	nav {
	  ul {
	    position: absolute;
	    width: 800px;
	    left: 50%;
	    margin-left: -400px;
	    text-align: center;
	    top: 60%;
	    li {

	      margin: 0 30px;
	      display: inline-block;
	      a{
	      	font-family: $ptsans;
	      	font-size: 18px;
	      	text-decoration: none;
	      	color: $bluePine;
	      	// font-family: $oswald;
	      	// letter-spacing: 2px;
	      	&:hover{
	      		color: $mist;
	      	}
	      }
	    }
	  }
	}
}

article{
}

// ----- Index.html -----------

.content{
	margin: 0 auto;
	width: 100%;
	min-width: 800px;
	height: 100%;
	background-image: url('../images/Texture/wood_80.jpg');
	background-attachment: fixed;
}

.bcg{
	height: 1000px;
	//opacity: .95;
	background:{
		image: url('../images/Truck/truck1.jpg');
		size: cover;
		repeat: no-repeat;
		attachment: fixed;
		position: center;
	}
	.bcg_label{
		position: absolute;
		height: 70px;
		width: 500px;
		background-color: white;
		margin-top: 200px;
		right: 10%;
		margin-right: -100px;
		border-radius: 10px;
		span{
			font-family: $ptsans;
			letter-spacing: 5px;
		}
		h1{
			font-size: 40px;
			margin-top: 15px;
			font-weight: 100;
			text-align: center;
		}
		h3{
			margin-top: 10px;
			font-size: 20px;
			text-align: center;
		}
	}
	#caption{
		margin-top: 300px;
		height: 40px;
	}
}

.container{
	border-top: 10px solid $tangerine;
	border-bottom: 10px solid $tangerine;
	height: 800px;
	min-width: $minWidth;
	width: 90%;
	background-color: $offwhite;
	margin: 200px auto;
	text-align: center;
	.divide{
		position: relative;
		height: 100%;
		width: 50%;
	}
	.left{
		float: left;
		background:{
			size: cover;
			repeat: no-repeat;
		}
	}
	.right{
		overflow: auto;
		float: right;
	}
}

.msg{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 10%;
	h1{
		padding: 50px;
		font-size: 50px;
		font-family: $oswald;
		letter-spacing: 5px;
	}
	p{
		line-height: 1.7em;
		margin-bottom: 50px;
		font-family: $ptsans;
	}
}

#story-left{
	background-image: url('../images/Truck/future.jpg');
}

#menu-left{
	float: left;
}

#menu-right{
	float: right;
	background-image: url('../images/Menu/food5.jpg');
	background-size: cover;
	background-position: center;
}

#follow{
	position: relative;
	//height: 100%;
	.msg{
		margin-top: 50px;
		h1{
			padding: 30px;
		}
	}
	#social{
		margin-top: 100px;
		height: 70%;
		width: 100%;
		position: absolute;
		//border-bottom: 10px solid $carrot;
		bottom: 10px;
		#follow-left{
			//background-color: $fields;
			width: 49%;
			border-right: 10px solid $fields;
		}
		.right{
			overflow: auto;
			img{margin-bottom: 40px;}
		}
		#instafeed{
			//background-color: pink;
			margin-top: 5%;
			img{
				padding: 5px;
			}
		}
	}
}


// ---- Menu --------

.nav{
	height: 100px;
	#logo{
		img{
			height: 80px;
			width: 80px;
		}
	}
}

.bcg-other{
	height: 400px;
	h1{
		text-align: center;
		font-size: 60px;
		position: relative;
		top: 45%;
		color: white;
		letter-spacing: 5px;
	}
	h1{
		background-color: white;
		width: 60%;
		color: black;
		padding: 15px;
		float: left;
		border-radius: 0 10px 10px 0px;
		span{
			float: right;
			font-family: $ptsans;
		}
	}
}
#bcg-menu{
	background:{
		image: url('../images/Menu/pasta.jpg');
		size: cover;
	}
}

.container-other{
	margin-top: 0;
	margin-bottom: 0;
}

// ----- Menu items ---------

#container-menu {
	height: 100%;
	width: 90%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	#start{
		font-family: $sig;
		//border: 1px solid;
		padding: 50px 0;
		font-size: 40px;
		span{
			font-size: 30px;
		}
	}
	.option{
		width: 60%;
		margin: 0 auto;
		h2{
			text-decoration: underline;
			padding: 30px 0;
			font-family: $sig;
		}
		h1{
			font-size: 30px;
			margin-bottom: 20px;
			font-family: $sig;
		}
		table{
			margin-bottom: 40px;
			padding: 20px 25px;
			td{
				font-family: $ptsans;
				font-size: 20px;
				padding: 2px 15px;
			}
		}
	}

	#option1{
		//border: 1px solid green;
		margin-bottom: 100px;
		#regOrLrg{
			height: 100px;
			width: 70%;
			margin: 0 auto;
			.divide{
				h3{
					font-size: 30px;
					font-family: $sig;
				}
				p{
					font-family: $ptsans;
					font-size: 20px;
				}
			}
		}
	}

	#option2{
		//border: 1px solid red;
		.three-row{
			width: 33.3%;
			display: inline-block;
			float: left;
			margin-bottom: 50px;
			h3{
				font-size: 25px;
				font-family: $sig;
			}
			p{
				font-family: $ptsans;
				font-size: 20px;
				margin-bottom: 100px;
			}
		}
		p{
			font-style: italic;
			padding: 20px 0;
		}
	}

	#drinks{
		margin-bottom: 100px;
	}

	table{
		margin: 0 auto;
		border: 3px solid;
	}
	.orange{
		color: #F88017;
	}

	img{
		max-width: 100%;
		height: auto;
		transform: rotate(90deg);
	}

	#drinks{
		transform: rotate(0deg);
	}

	figure{
		margin: auto;
	}

	.menu-pics{
		figure{
			position: relative;
			width: 40%;
			display: inline-block;
			cursor: pointer;
			margin: 0 30px;
			img{
				margin-top: -10%;
				margin-bottom: -10%;
				display: block;
			}

			&:hover{
				figcaption{

					left: 0%;
				}
				img{
					opacity: 0.5;
					transition: opacity 0.4s;
				}
			}
			overflow: hidden;
		}
		figcaption{
			position: absolute;
			height: 100px;
			top: 50%;
			margin-top: -50px;
			left: -115%;
			background: white;
			color: black;
			padding: 10px 20px;
			font-size: 30px;
			font-family: $ptsans;
			transition: all 0.3s ease-in-out
		}
	}

	// .food-row{
	// 	.food-block{
	// 		width: 400px;
	// 		height: 400px;
	// 		margin: 20px;
	// 		background-color: pink;
	// 		display: inline-block;
	// 		background:{
	// 			size: cover;
	// 			//attachment: fixed;
	// 			position: center center;
	// 			repeat: no-repeat;
	// 		}
	// 	}
	// 	#food1{
	// 		background-image: url('../images/Menu/food1.jpg')
	// 	}
	// 	#food2{
	// 		background-image: url('../images/Menu/food2.jpg')
	// 	}
	// 	#food3{
	// 		background-image: url('../images/Menu/food3.jpg')
	// 	}
	// 	#food4{
	// 		background-image: url('../images/Menu/food4.jpg')
	// 	}
	// 	#food5{
	// 		background-image: url('../images/Menu/food5.jpg')
	// 	}
	// 	#food6{
	// 		background-image: url('../images/Menu/drinks.jpg')
	// 	}

	// }
}


// ---- Calendar --------

#bcg-cal{
	background:{
		image: url('../images/Truck/sujan.jpg');
		size: cover;
		position: center top;
	}
}

#container-cal{
	height: 100%;
	text-align: center;
	h1{
		font-size: 40px;
		font-family: $ptsans;
		padding: 50px;
	}
	iframe{
		width: 90%;
		height: 500px;
		margin-bottom: 50px;
		position: relative;
		top: 20%;
		border: 1px solid;
		padding: 15px;
	}
}


// ---- Contact --------

#content-contact{
	height: 100%;
	.container{
		h1{
			margin: 70px 0px;
			font-size: 50px;
			font-family: $ptsans;
		}
		hr{
			width: 80%;
			margin: 0 auto;
			font-weight: bold;
		}
		margin-bottom: 0;
	}
}
#bcg-contact{
	background:{
		color: white;
		image: url('../images/Truck/forest.jpg');
		size: cover;
	}
}

#contact-menu{
	height: 5%;
	width: 100%;
	h3{
		margin-top: 5px;
		font-family: $ptsans;
		color: white;
		padding: 10px 0;
	}
	#contactForm{
		float: left;
		width: 50%;
		height: 100%;
		background-color: $fields;
		&:hover{
			background-color: $pearGreen;
		}

	}
	#booking{
		float: right;
		width: 50%;
		height: 100%;
		background-color: $blueSky;
		&:hover{
			background-color: $pine;
		}
	}
}

.input{
	margin: 0 auto;
	height: 70%;
	width: 90%;
	.truckimg{
		float: left;
		width: 50%;
		p{
			font-size: 25px;
			font-family: $ptsans;
			padding: 10px 0;
		}
	}
}


.info{
		float: right;
		width: 50%;
		height: 100%;
		input{
			height: 50px;
			width: 90%;
			margin: 10px 0;
			font-size: 20px;
			padding: 0 5px;
			&[type = submit]{
				border: 0 none;
				width: 100px;
				font-size: 15px;
				border-radius: 10px;
				background-color: $pearGreen;
				color: white;
				cursor: pointer;
			}
		}
		textarea{
			height: 180px;
			width: 90%;
			margin: 10px 0;
			padding: 10px 10px;
			font-size: 20px;
		}
	}


// ---- About --------

#bcg-about{
	background:{
		image: url('../images/Truck/maico_amorim.jpg');
		size: cover;
		position: center top;
		attachment: fixed;
	}
}

#container-about{
	height: 100%;
	.about-msg{
		height: 800px;
		width: 100%;
		.box-msg{
			width: 80%;
			height: 100%;
			margin: 0 auto;
			//margin-top: 100px;
			clear: both;
			img{
				margin-left: 10%;
				height: auto;
				width: 60%;
				float: left;
				border-radius: 30%;
			}
			div{
				width: 30%;
				height: 100%;
				float: right;
				p{
					font-size: 16px;
					width: 200px;
					float: left;
					padding: 20px;
					background-color: #ffffff;
					text-align: left;
					margin-top: 20%;
				}
				p, span{
					font-family: $ptsans;
				}

				span{
					font-size: 30px;
					font-weight: 1200;
				}
			}
		}
	}
	#first{
		margin-top: 100px;
	}
}

// ---- Booking --------
#container-booking{
	height: 100%;
	//background-color: grey;
	#booking-form{
		width: 90%;
		float: none;
		margin: 0 auto;
		margin-bottom: 5%;
		h1{
			font-family: $sig; margin-top: 100px;
			text-decoration: underline;
		}
		p{
			margin: 0 auto;
			text-align: justify;
			padding: 0px 50px;
			margin-bottom: 100px;
			font-size: 20px;
			line-height: 2em;
		}
		span{
			font-size: 22px;
			font-weight: bold;
		}
		form{

			h2{
				border: 3px solid;
				width: 100%;
				padding: 15px 0;
			}
			div{
				margin: 0px 20% 10%;
				//border: 2px solid;
			}
			#contact{
				margin-bottom: 0;
			}
			#submitButton{
				width: 80px;
				height: 80px;
				border-radius: 50%;
				font-size: 40px;
			}
		}
	}
	#bookingEntered{
		background-color: grey;
	}
}


// ---- Footer --------



footer{
	border-top: 10px solid $carrot;
	border-bottom: 10px solid $carrot;
	background-color: $pearGreen;
	text-align: center;
	h1{
		color: white;
		font-family: $oswald;
		letter-spacing: 7px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.social{
		overflow: hidden;
		height: 40px;
		width: 40px;
		//border: 1px solid black;
		border-radius: 50%;
		display: inline-block;
		background-color: white;
		text-align: center;
		top: 50%;
		margin: 20px;
		img{
			height: 80%;
			width: 80%;
			position: relative;
			top: 50%;
			margin-top: -20px;
		}
	}
	figcaption{
		margin-top: 50px;
		font-size: 12px;
	}
}








