* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; }

body {
  width: 100vw;
  height: 100%;
  background-color: #c0c0c0; }

.header {
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%; }
  .header #logo {
    padding: 10px;
    margin-left: 10px; }
    .header #logo #mainLogo {
      height: 130px;
      width: 221px;
      border-radius: 50%; }
    .header #logo .otherLogo {
      height: 80px;
      width: 80px;
      margin-top: 10px;
      margin-left: 5vw; }
  .header ul {
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    top: 60%; }
    .header ul li {
      margin: 0 30px;
      display: inline-block; }
      .header ul li a {
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #324851; }
        .header ul li a:hover {
          color: #7da3a1; }

article {
  top: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url("../images/Texture/wood_80.jpg");
  background-attachment: fixed; }

.container {
  border-top: 10px solid #f69454;
  border-bottom: 10px solid #f69454;
  height: 800px;
  width: 90%;
  background-color: #fcfdfe;
  margin: 200px auto;
  text-align: center; }

.bcg-other {
  height: 40vh;
  overflow: auto; }
  .bcg-other h1 {
    position: relative;
    background-color: white;
    width: 60%;
    max-width: 700px;
    height: 8vmin;
    top: 50%;
    margin-top: -4vmin;
    color: black;
    float: left;
    border-radius: 0 10px 10px 0px;
    font-size: 8vmin; }
    .bcg-other h1 span {
      text-align: right;
      position: relative;
      font-family: "PT Sans", sans-serif;
      float: right;
      margin-right: 10%;
      font-size: 80%; }

@media (max-width: 800px) {
  .bcg-other {
    height: 300px; }
    .bcg-other h1 {
      top: 50%;
      margin-top: -40px;
      height: 80px;
      font-size: 80px; }
      .bcg-other h1 span {
        padding-top: 10px;
        height: 100%;
        font-size: 50%; } }
@media (max-height: 500px) {
  .bcg-other {
    height: 200px; }
    .bcg-other h1 {
      top: 50%;
      margin-top: -30px;
      height: 60px;
      font-size: 60px; }
      .bcg-other h1 span {
        padding-top: 10px;
        height: 100%;
        font-size: 50%; } }
.container-other {
  margin: 0 auto; }

footer {
  border-top: 10px solid #ee693f;
  border-bottom: 10px solid #ee693f;
  background-color: #739f3d;
  text-align: center; }
  footer h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    letter-spacing: 7px;
    padding-top: 50px;
    padding-bottom: 20px; }
  footer .social {
    overflow: hidden;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    text-align: center;
    top: 50%;
    margin: 20px; }
    footer .social img {
      height: 80%;
      width: 80%;
      position: relative;
      top: 50%;
      margin-top: -20px; }
  footer figcaption {
    margin-top: 50px;
    font-size: 12px; }

@media (max-width: 800px) {
  .header {
    background-color: white;
    height: 200px;
    width: 100%; }
    .header #logo {
      position: relative;
      padding: 0;
      margin-left: 0;
      float: left;
      width: 50%;
      height: 100%;
      text-align: center; }
      .header #logo #mainLogo {
        height: 130px;
        width: 221px;
        border-radius: 50%;
        margin-top: 10px; }
      .header #logo .otherLogo {
        height: 140px;
        width: 140px;
        margin-top: 30px; }
    .header ul {
      position: relative;
      height: 100%;
      width: 50%;
      left: 0;
      margin-left: 0;
      text-align: center;
      top: 0;
      overflow: auto;
      float: right; }
      .header ul li {
        margin: 20px auto;
        display: block; }
        .header ul li a {
          font-family: "PT Sans", sans-serif;
          font-size: 18px;
          text-decoration: none;
          color: #324851; }
          .header ul li a:hover {
            color: #7da3a1; }

  .container {
    height: 1000px;
    overflow: auto;
    text-align: center; }
    .container .divide {
      position: relative;
      width: 100%; }
    .container .left {
      float: none;
      height: 50%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat; }
    .container .right {
      width: 100%;
      height: 70%;
      overflow: auto;
      float: none; } }
