
// ----------------------
// SUMO SALAD, USA
// ----------------------
// By: Daniel Choi
// Date: May 18, 2016


// Variables for dimensions
$navHeight: 150px;
$img-height: $navHeight - 20; // height and width of logo in nav bar
$img-width: $img-height*1.7;
$minWidth: 1000px;

// Colors
$bluePine: #324851;
$newGrass: #86ac41;
$reflection: #34675c;
$mist: #7da3a1;

// ---- Garden Fresh
$carrot: #ee693f;
$tangerine: #f69454;
$offwhite: #fcfdfe;
$pearGreen: #739f3d;

// ---- Fresh and Energetic
$blueSky: #4cb5f5;
$pine: #34675c;
$fields: #b3c100;




// Fonts
// @import url(https://fonts.googleapis.com/css?family=Oswald);
// @import url(https://fonts.googleapis.com/css?family=PT+Sans);
// @import url(https://fonts.googleapis.com/css?family=Sigmar+One);

$sig: 'Sigmar One', cursive;

$oswald: 'Oswald', sans-serif;
$ptsans: 'PT Sans', sans-serif;


* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body{
	width: 100vw;
	height: 100%;
	background-color: #c0c0c0;
}

// ----- Navigation Bar -------
.header{
	background-color: white;
	position: relative;
	height: 100%;
	width: 100%;
	//z-index: 99;
	#logo{
		padding: 10px;
		margin-left: 10px;
		#mainLogo{
			height: $img-height;
			width: $img-width;
			border-radius: 50%;
		}
		.otherLogo{
			height: 100px;
			width: 100px;
			margin-top: 10px;
			margin-left: 5vw;
		}
	}
	ul{
		position: absolute;
		width: 800px;
		left: 50%;
		margin-left: -400px;
		text-align: center;
		top: 60%;
		//background-color: white;
		li{
			margin: 0 30px;
			display: inline-block;
			a{
				font-family: $ptsans;
				font-size: 18px;
				text-decoration: none;
				color: $bluePine;
				&:hover{
					color: $mist;
				}
			}
		}
	}
}


// ----- Home -----------

article{
	top: 100%;
}

.content{
	margin: 0 auto;
	width: 100%;
	//min-width: 800px;
	height: 100%;
	background-image: url('../images/Texture/wood_80.jpg');
	background-attachment: fixed;
}



.container{
	border-top: 10px solid $tangerine;
	border-bottom: 10px solid $tangerine;
	height: 800px;
	width: 90%;
	background-color: $offwhite;
	margin: 200px auto;
	text-align: center;
	.divide{
		position: relative;
		height: 100%;
		width: 50%;
		//clear: both;
	}
	.left{
		float: left;
		background:{
			size: cover;
			repeat: no-repeat;
		}
	}
	.right{
		overflow: auto;
		float: right;
	}
}



// ---- Background of Other pages --------


.bcg-other{
	height: 40vh;
	font-size: 20vw;
	//min-height: 200px;
	h1{
		position: relative;
		background-color: white;
		width: 60%;
		max-width: 700px;
		height: 30vw;
		max-height: 100px;
		top: 80px;
		color: black;
		padding: 0 5%;
		float: left;
		border-radius: 0 10px 10px 0px;
		font-size: 7vh;
		span{
			position: relative;
			font-family: $ptsans;
			float: right;
			margin-right: 10%;
			margin-top: 2%;
		}
	}
}

@media(max-width:800px){
	.bcg-other h1{
		font-size: 50px;
		span{
			margin-top: 5%;
		}
	}
}

.container-other{
	margin-top: 0;
	margin-bottom: 0;
}

// ----- Menu items ---------



// ---- Calendar --------



// ---- Contact --------


.input{
	margin: 0 auto;
	height: 70%;
	width: 90%;
	.truckimg{
		float: left;
		width: 50%;
		p{
			font-size: 25px;
			font-family: $ptsans;
			padding: 10px 0;
		}
	}
}


.info{
		float: right;
		width: 50%;
		height: 100%;
		input{
			height: 50px;
			width: 90%;
			margin: 10px 0;
			font-size: 20px;
			padding: 0 5px;
			&[type = submit]{
				border: 0 none;
				width: 100px;
				font-size: 15px;
				border-radius: 10px;
				background-color: $pearGreen;
				color: white;
				cursor: pointer;
			}
		}
		textarea{
			height: 180px;
			width: 90%;
			margin: 10px 0;
			padding: 10px 10px;
			font-size: 20px;
		}
	}


// ---- About --------


// ---- Footer --------



footer{
	border-top: 10px solid $carrot;
	border-bottom: 10px solid $carrot;
	background-color: $pearGreen;
	text-align: center;
	h1{
		color: white;
		font-family: $oswald;
		letter-spacing: 7px;
		padding-top: 50px;
		padding-bottom: 20px;
	}
	.social{
		overflow: hidden;
		height: 40px;
		width: 40px;
		//border: 1px solid black;
		border-radius: 50%;
		display: inline-block;
		background-color: white;
		text-align: center;
		top: 50%;
		margin: 20px;
		img{
			height: 80%;
			width: 80%;
			position: relative;
			top: 50%;
			margin-top: -20px;
		}
	}
	figcaption{
		margin-top: 50px;
		font-size: 12px;
	}
}


@media(max-width: 800px){
	*{
		padding: 0;
		margin: 0;
	}

	// ---- Nav Panel ----

	.header{
		background-color: white;
		//position: relative;
		//height: $img-height + 20;
		height: 200px;
		//overflow: auto;
		width: 100%;
		//z-index: 99;
		#logo{
			position: relative;
			padding: 0;
			margin-left: 0;
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;
			#mainLogo{
				height: $img-height;
				width: $img-width;
				border-radius: 50%;
				margin-top: 10px;
				//margin: 0 auto;
			}
			.otherLogo{
				height: 17vh;
				width: 17vh;
				margin-top: 10px;
			}
		}
		ul{
			position: relative;
			height: 100%;
			width: 50%;
			left: 0;
			margin-left: 0;
			text-align: center;
			top: 0;
			overflow: auto;
			//background-color: cyan;
			float: right;
			//background-color: white;
			li{
				margin: 20px auto;
				display: block;
				//background-color: white;
				a{
					font-family: $ptsans;
					font-size: 18px;
					text-decoration: none;
					color: $bluePine;
					&:hover{
						color: $mist;
					}
				}
			}
		}
	}

	// ----- Home ------
	.container{
		//border-top: 10px solid $tangerine;
		//border-bottom: 10px solid $tangerine;
		height: 1000px;
		overflow: auto;
		//width: 90%;
		//background-color: $offwhite;
		//margin: 200px auto;
		text-align: center;
		.divide{
			position: relative;
			width: 100%;
			//clear: both;
		}
		.left{
			float: none;
			height: 50%;
			width: 100%;
			background:{
				size: cover;
				repeat: no-repeat;
			}
		}
		.right{
			width: 100%;
			height: 70%;
			overflow: auto;
			float: none;
		}
	}
}





